<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/karu</property>
    <property name="hibernate.connection.username">karu</property>
    <property name="hibernate.connection.password">karu</property>
    <mapping resource="com/entidades/PrProduccion.hbm.xml"/>
    <mapping resource="com/entidades/FacturaVenta.hbm.xml"/>
    <mapping resource="com/entidades/ComandaCab.hbm.xml"/>
    <mapping resource="com/entidades/MovValDet.hbm.xml"/>
    <mapping resource="com/entidades/OrdenPago.hbm.xml"/>
    <mapping resource="com/entidades/MtFormaPago.hbm.xml"/>
    <mapping resource="com/entidades/ComandaDet.hbm.xml"/>
    <mapping resource="com/entidades/MtTipoDocumentos.hbm.xml"/>
    <mapping resource="com/entidades/MtPromocionesDet.hbm.xml"/>
    <mapping resource="com/entidades/MtUnidMedidas.hbm.xml"/>
    <mapping resource="com/entidades/MtSucursales.hbm.xml"/>
    <mapping resource="com/entidades/MovValores.hbm.xml"/>
    <mapping resource="com/entidades/PresupuestoDet.hbm.xml"/>
    <mapping resource="com/entidades/MtCajeros.hbm.xml"/>
    <mapping resource="com/entidades/PresupuestoCab.hbm.xml"/>
    <mapping resource="com/entidades/MtTiposClientes.hbm.xml"/>
    <mapping resource="com/entidades/MtMonedas.hbm.xml"/>
    <mapping resource="com/entidades/MtDepartamentos.hbm.xml"/>
    <mapping resource="com/entidades/MtVendedores.hbm.xml"/>
    <mapping resource="com/entidades/Caja.hbm.xml"/>
    <mapping resource="com/entidades/TiposCambios.hbm.xml"/>
    <mapping resource="com/entidades/Ingredientes.hbm.xml"/>
    <mapping resource="com/entidades/OrdCompraDet.hbm.xml"/>
    <mapping resource="com/entidades/MtRolesUsuarios.hbm.xml"/>
    <mapping resource="com/entidades/MtTipoImpuestos.hbm.xml"/>
    <mapping resource="com/entidades/MtClientes.hbm.xml"/>
    <mapping resource="com/entidades/MtProveedores.hbm.xml"/>
    <mapping resource="com/entidades/CambioPreciosDet.hbm.xml"/>
    <mapping resource="com/entidades/MtCargos.hbm.xml"/>
    <mapping resource="com/entidades/MtArticulos.hbm.xml"/>
    <mapping resource="com/entidades/FacturaCompra.hbm.xml"/>
    <mapping resource="com/entidades/MtEmpresas.hbm.xml"/>
    <mapping resource="com/entidades/MtTipoComprobantes.hbm.xml"/>
    <mapping resource="com/entidades/MtProcTarjetas.hbm.xml"/>
    <mapping resource="com/entidades/MtTiposArticulos.hbm.xml"/>
    <mapping resource="com/entidades/MtEmpleados.hbm.xml"/>
    <mapping resource="com/entidades/OrdenPagoDet.hbm.xml"/>
    <mapping resource="com/entidades/StExistenciaSuc.hbm.xml"/>
    <mapping resource="com/entidades/MtPromocionesCab.hbm.xml"/>
    <mapping resource="com/entidades/MtCheques.hbm.xml"/>
    <mapping resource="com/entidades/TsBancosCtas.hbm.xml"/>
    <mapping resource="com/entidades/MtConversionUnidades.hbm.xml"/>
    <mapping resource="com/entidades/MtPaises.hbm.xml"/>
    <mapping resource="com/entidades/MtComprobantes.hbm.xml"/>
    <mapping resource="com/entidades/CobranzaDet.hbm.xml"/>
    <mapping resource="com/entidades/ArqueoCab.hbm.xml"/>
    <mapping resource="com/entidades/DetValores.hbm.xml"/>
    <mapping resource="com/entidades/MtAccesosGrupos.hbm.xml"/>
    <mapping resource="com/entidades/FacturaCompraDetalle.hbm.xml"/>
    <mapping resource="com/entidades/ArqueoDet.hbm.xml"/>
    <mapping resource="com/entidades/Cobranza.hbm.xml"/>
    <mapping resource="com/entidades/MtCondicionPago.hbm.xml"/>
    <mapping resource="com/entidades/MtAreas.hbm.xml"/>
    <mapping resource="com/entidades/PrProduc.hbm.xml"/>
    <mapping resource="com/entidades/MtEstcivil.hbm.xml"/>
    <mapping resource="com/entidades/ValoresDet.hbm.xml"/>
    <mapping resource="com/entidades/FacturaVentaDetalle.hbm.xml"/>
    <mapping resource="com/entidades/MtFormularios.hbm.xml"/>
    <mapping resource="com/entidades/MtSexos.hbm.xml"/>
    <mapping resource="com/entidades/CambioPreciosCab.hbm.xml"/>
    <mapping resource="com/entidades/MtEstadosArt.hbm.xml"/>
    <mapping resource="com/entidades/MtMarcas.hbm.xml"/>
    <mapping resource="com/entidades/SaPendientes.hbm.xml"/>
    <mapping resource="com/entidades/OrdenCompra.hbm.xml"/>
    <mapping resource="com/entidades/MtUsuarios.hbm.xml"/>
    <mapping resource="com/entidades/MtCiudades.hbm.xml"/>
    <mapping resource="com/entidades/PagosProveedor.hbm.xml"/>
    <mapping resource="com/entidades/MtBancos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
